* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80");
    color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


header {
    margin: 0 auto;
    width: 98%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


main {
    margin: 0 auto;
    width: 98%;
    height: 92vh;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 1em;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    overflow-x: hidden;
}

main::-webkit-scrollbar {
    display: none;
}

.wrapper {
    box-sizing: unset;
    width: 100%;
}

.status {
    width: 100%;
    height: 2em;
    background-color: white;
    margin: 1em auto;
    border-radius: 2em;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}


.active {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgb(230, 98, 169);
}

.cards-wrapper {
    width: 100%;
    margin: 1em auto;
    border-radius: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.card {
    width: 98%;
    min-height: 300px;
    margin: 0.75em auto;
    border-radius: 0.75em;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0.75em;
    gap: 0.5em;
}

.card:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.type {
    width: 100%;
    height: 50%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lection {
    background: rgba(0, 117, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(0, 117, 255, 0.3);
    color: blue;
}

.exam {
    background: rgba(255, 0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 0, 0, 0.3);
    color: red;
}

.card-title {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    color: black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(125, 210, 220, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(125, 210, 220, 0.3);
}

.lection-time {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 70%;
    align-self: end;
    color: black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(125, 210, 220, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(125, 210, 220, 0.3);
}

.teacher-name {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 70%;
    align-self: end;
    color: black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(125, 210, 220, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(125, 210, 220, 0.3);
}

.zoom-link {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: 70%;
    align-self: end;
    color: black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(125, 210, 220, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(125, 210, 220, 0.3);
    text-decoration: none;
    font-weight: 800;
}

.task-btn {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    height: 70%;
    align-self: end;
    color: black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(125, 210, 220, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(125, 210, 220, 0.3);
    text-decoration: none;
    font-size: 1.25em;
}

.current {
    background-color: rgba(0, 0, 0, 0.016);
    border-radius: 1em;
}

.vac {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}